body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
}

.container {
  width: 80%;
  max-width: 600px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}


h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  margin-bottom: 10px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 3px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

li:last-child {
  border-bottom: none;
}

.completed {
  text-decoration: line-through;
  color: #aaa;
}

.ConsistencyTracker {
  margin-top: 20px;
}

.ConsistencyTracker p {
  margin-bottom: 5px;
}

.app-name {
  text-align: center;
  color: #333;
}

.quote-section {
  margin-bottom: 20px;
}

.task-form-section {
  margin-bottom: 20px;
}

.task-list-section {
  margin-bottom: 20px;
}

.consistency-tracker-section {
  margin-bottom: 20px;
}